/* You can add global styles to this file, and also import other style files */
*{ padding: 0; margin: 0; }
.btns{
    text-transform: uppercase;
    color: #fff;
    outline: none;
    line-height: 50px;
    border: none;
    border-radius: 2px;
    opacity: .9;
    cursor: pointer;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}